<%= render "shared/header" %>

<div class="slider">
  <div class="slide active">
    <%= image_tag "fashion39.jpg" %>
  </div>
</div>
<div class="slider">
  <div class="slide active">
    <%= image_tag "fashion40.jpg" %>
  </div>
</div>
<div class="slider">
  <div class="slide active">
    <%= image_tag "fashion41.jpg" %>
  </div>
</div>
<div class="slider">
  <div class="slide active">
    <%= image_tag "fashion42.jpg" %>
  </div>
</div>

<div class="navigation">
    <i class="fas fa-chevron-left prev-btn"></i>
    <i class="fas fa-chevron-right next-btn"></i>
  <div class="navigation-visibility">
    <div class="slide-icon active"></div>
    <div class="slide-icon"></div>
    <div class="slide-icon"></div>
    <div class="slide-icon"></div>
    <div class="slide-icon"></div>
  </div>
</div>

<%# <script type="text/javascript">
    const slider = document.querySelector(".slider");
    const nextBtn = document.querySelector(".next-btn");
    const prevBtn = document.querySelector(".prev-btn");
    const slides = document.querySelectorAll(".slide");
    const slideIcons = document.querySelectorAll(".slide-icon");
    const numberOfSlides = slides.length;
    var slideNumber = 0;

    //image slider next button
    nextBtn.addEventListener("click", () => {
      slides.forEach((slide) => {
        slide.classList.remove("active");
      });
      slideIcons.forEach((slideIcon) => {
        slideIcon.classList.remove("active");
      });

     slideNumber--;

      if(slideNumber < 0){
        slideNumber = numberOfSlides - 1;
      }

      slides[slideNumber].classList.add("active");
      slideIcons[slideNumber].classList.add("active");
    });

    //image slider autoplay
    var playSlider;

    var repeater = () => {
      playSlider = setInterval(function(){
        slides.forEach((slide) => {
          slide.classList.remove("active");
        });
        slideIcons.forEach((slideIcon) => {
          slideIcon.classList.remove("active");
        });

        slideNumber++;

        if(slideNumber > (numberOfSlides - 1)){
          slideNumber = 0;
        }

        slides[slideNumber].classList.add("active");
        slideIcons[slideNumber].classList.add("active");
      }, 4000);
    }
    repeater();

    //stop the image slider autoplay on mouseover
    slider.addEventListener("mouseover", () => {
      clearInterval(playSlider);
    });

    //start the image slider autoplay again on mouseout
    slider.addEventListener("mouseout", () => { %>
      <%# repeater();
    });
    </script>
 %>



<div class="contents-products">
  <div class="contents-sub">
    <nav class="nav-local">
      <div class="nav-local-in">
        <p class="ttl-nav only-pc">商品タイプから探す</p>
        <ul class="menu">
          <li class="menu__item">
              <a class="menu__item__link js-menu__item__link" href="">新着アイテム</a>
              <ul class="submenu">
                  <li class="submenu__item">
                      <a href="">すべて</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">6月25日新着アイテム</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">6月18日新着アイテム</a>
                  </li>
              </ul>
          </li>
          <li class="menu__item">
              <a class="menu__item__link js-menu__item__link" href="">ランキング</a>
              <ul class="submenu">
                  <li class="submenu__item">
                      <a href="">すべて</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">トップス</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">アウター</a>
                  </li>
              </ul>
          </li>
        </ul>
        <p class="ttl-nav only-pc">カテゴリーから探す</p>
        <ul class="menu">
          <li class="menu__item">
              <a class="menu__item__link js-menu__item__link" href="">トップス</a>
              <ul class="submenu">
                  <li class="submenu__item">
                      <a href="">すべて</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">シャツ</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">ブラウス</a>
                  </li>
              </ul>
          </li>
          <li class="menu__item">
              <a class="menu__item__link js-menu__item__link" href="">アウター</a>
              <ul class="submenu">
                  <li class="submenu__item">
                      <a href="">すべて</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">１</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">２</a>
                  </li>
              </ul>
          </li>
          <li class="menu__item">
              <a class="menu__item__link js-menu__item__link" href="">ワンピース</a>
              <ul class="submenu">
                  <li class="submenu__item">
                      <a href="">すべて</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">１</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">２</a>
                  </li>
              </ul>
          </li>
          <li class="menu__item">
              <a class="menu__item__link js-menu__item__link" href="">ボトムス</a>
              <ul class="submenu">
                  <li class="submenu__item">
                      <a href="">すべて</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">シャツ</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">ブラウス</a>
                  </li>
              </ul>
          </li>
          <li class="menu__item">
              <a class="menu__item__link js-menu__item__link" href="">シューズ</a>
              <ul class="submenu">
                  <li class="submenu__item">
                      <a href="">すべて</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">１</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">２</a>
                  </li>
              </ul>
          </li>
          <li class="menu__item">
              <a class="menu__item__link js-menu__item__link" href="">バッグ</a>
              <ul class="submenu">
                  <li class="submenu__item">
                      <a href="">すべて</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">１</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">２</a>
                  </li>
              </ul>
          </li>
          <li class="menu__item">
              <a class="menu__item__link js-menu__item__link" href="">アクセサリー</a>
              <ul class="submenu">
                  <li class="submenu__item">
                      <a href="">すべて</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">１</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">２</a>
                  </li>
              </ul>
          </li>
          <li class="menu__item">
              <a class="menu__item__link js-menu__item__link" href="">セットアイテム</a>
              <ul class="submenu">
                  <li class="submenu__item">
                      <a href="">すべて</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">１</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">２</a>
                  </li>
              </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="sec-cmn-02">
    <h2 class="ttl-cmn-02">
      <span class="txt-en">NEW ITEM</span>
    <h2>
    <ul class="list-products-01">
      <% @items.each do |item| %> 
      <li class='list'>
        <%= link_to item_path(item.id) do %> 
        <div class='item-img-content'>
          <%= image_tag item.image, class: "item-img" %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.name %>
          </h3>
          <div class='item-price'>
            <span><%= item.price %>円</span>
            <div class='heart-btn'>
              <%= image_tag "mark_heart.png", class:"heart-icon" %>
            </div>
          </div>
        </div>
        <% end %>
      </li>  
      <% end %> 
    </ul>
    <div class="ta-center mt-20">
      <a class="btn-cmn-01" href="#">新着アイテム一覧を見る</a>
    </div>
    
  </div>

  <div class="sec-cmn-02">
    <h2 class="ttl-cmn-02 mb-5">
      <span class="txt-en">RANKING</span>
    <h2>
    <ul class="list-products-01">
      <li>
        <div class="card-product-01">
          <p class="txt-ranking">No.1</p>
          <a class="box-link" href="" >
            <figure class="box-image">
              <%= image_tag "fashion11.jpg"%>
            </figure>
            <p class="txt-name">fashion11</p>
            <p class="txt-price">11000</p>
          </a>
        </div>
      </li>
      <li>
        <div class="card-product-01">
          <p class="txt-ranking">No.2</p>
          <a class="box-link" href="" >
            <figure class="box-image">
              <%= image_tag "fashion12.jpg"%>
            </figure>
            <p class="txt-name">fashion12</p>
            <p class="txt-price">12000</p>
          </a>
        </div>
      </li>
      <li>
        <div class="card-product-01">
          <p class="txt-ranking">No.3</p>
          <a class="box-link" href="" >
            <figure class="box-image">
              <%= image_tag "fashion13.jpg"%>
            </figure>
            <p class="txt-name">fashion13</p>
            <p class="txt-price">13000</p>
          </a>
        </div>
      </li>
      <li>
        <div class="card-product-01">
          <p class="txt-ranking">No.4</p>
          <a class="box-link" href="" >
            <figure class="box-image">
              <%= image_tag "fashion14.jpg"%>
            </figure>
            <p class="txt-name">fashion14</p>
            <p class="txt-price">14000</p>
          </a>
        </div>
      </li>
      <li>
        <div class="card-product-01">
          <p class="txt-ranking">No.5</p>
          <a class="box-link" href="" >
            <figure class="box-image">
              <%= image_tag "fashion15.jpg"%>
            </figure>
            <p class="txt-name">fashion15</p>
            <p class="txt-price">15000</p>
          </a>
        </div>
      </li>
      <li>
        <div class="card-product-01">
          <p class="txt-ranking">No.6</p>
          <a class="box-link" href="" >
            <figure class="box-image">
              <%= image_tag "fashion16.jpg"%>
            </figure>
            <p class="txt-name">fashion16</p>
            <p class="txt-price">16000</p>
          </a>
        </div>
      </li>
      <li>
        <div class="card-product-01">
          <p class="txt-ranking">No.7</p>
          <a class="box-link" href="" >
            <figure class="box-image">
              <%= image_tag "fashion17.jpg"%>
            </figure>
            <p class="txt-name">fashion17</p>
            <p class="txt-price">17000</p>
          </a>
        </div>
      </li>
      <li>
        <div class="card-product-01">
          <p class="txt-ranking">No.8</p>
          <a class="box-link" href="" >
            <figure class="box-image">
              <%= image_tag "fashion18.jpg"%>
            </figure>
            <p class="txt-name">fashion18</p>
            <p class="txt-price">18000</p>
          </a>
        </div>
      </li>
      <li>
        <div class="card-product-01">
          <p class="txt-ranking">No.9</p>
          <a class="box-link" href="" >
            <figure class="box-image">
              <%= image_tag "fashion19.jpg"%>
            </figure>
            <p class="txt-name">fashion19</p>
            <p class="txt-price">19000</p>
          </a>
        </div>
      </li>
      <li>
        <div class="card-product-01">
          <p class="txt-ranking">No.10</p>
          <a class="box-link" href="" >
            <figure class="box-image">
              <%= image_tag "fashion20.jpg"%>
            </figure>
            <p class="txt-name">fashion20</p>
            <p class="txt-price">20000</p>
          </a>
        </div>
      </li>
    </ul>
    <div class="ta-center mt-20">
      <a class="btn-cmn-01" href="#">ランキング一覧を見る</a>
    </div>
  </div>
</div>

<%= render "shared/footer" %>