<%= render "shared/header" %>
<div class='main'>
  <ul class="slider">
    <li><%= image_tag "fashion39.jpg" %></li>
    <li><%= image_tag "fashion40.jpg" %></li>
    <li><%= image_tag "fashion41.jpg" %></li>
    <li><%= image_tag "fashion42.jpg" %></li>
  </ul>
</div> 




<div class="contents-products">
  <div class="contents-sub">
    <nav class="nav-local">
      <div class="nav-local-in">
        <p class="ttl-nav only-pc">商品タイプから探す</p>
        <ul class="menu">
          <li class="menu__item">
              <a class="menu__item__link js-menu__item__link" href="">新着アイテム</a>
              <ul class="submenu">
                  <li class="submenu__item">
                      <a href="">すべて</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">6月25日新着アイテム</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">6月18日新着アイテム</a>
                  </li>
              </ul>
          </li>
          <li class="menu__item">
              <a class="menu__item__link js-menu__item__link" href="">ランキング</a>
              <ul class="submenu">
                  <li class="submenu__item">
                      <a href="">すべて</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">トップス</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">アウター</a>
                  </li>
              </ul>
          </li>
        </ul>
        <p class="ttl-nav only-pc">カテゴリーから探す</p>
        <ul class="menu">
          <li class="menu__item">
              <a class="menu__item__link js-menu__item__link" href="">トップス</a>
              <ul class="submenu">
                  <li class="submenu__item">
                      <a href="">すべて</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">シャツ</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">ブラウス</a>
                  </li>
              </ul>
          </li>
          <li class="menu__item">
              <a class="menu__item__link js-menu__item__link" href="">アウター</a>
              <ul class="submenu">
                  <li class="submenu__item">
                      <a href="">すべて</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">１</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">２</a>
                  </li>
              </ul>
          </li>
          <li class="menu__item">
              <a class="menu__item__link js-menu__item__link" href="">ワンピース</a>
              <ul class="submenu">
                  <li class="submenu__item">
                      <a href="">すべて</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">１</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">２</a>
                  </li>
              </ul>
          </li>
          <li class="menu__item">
              <a class="menu__item__link js-menu__item__link" href="">ボトムス</a>
              <ul class="submenu">
                  <li class="submenu__item">
                      <a href="">すべて</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">シャツ</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">ブラウス</a>
                  </li>
              </ul>
          </li>
          <li class="menu__item">
              <a class="menu__item__link js-menu__item__link" href="">シューズ</a>
              <ul class="submenu">
                  <li class="submenu__item">
                      <a href="">すべて</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">１</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">２</a>
                  </li>
              </ul>
          </li>
          <li class="menu__item">
              <a class="menu__item__link js-menu__item__link" href="">バッグ</a>
              <ul class="submenu">
                  <li class="submenu__item">
                      <a href="">すべて</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">１</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">２</a>
                  </li>
              </ul>
          </li>
          <li class="menu__item">
              <a class="menu__item__link js-menu__item__link" href="">アクセサリー</a>
              <ul class="submenu">
                  <li class="submenu__item">
                      <a href="">すべて</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">１</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">２</a>
                  </li>
              </ul>
          </li>
          <li class="menu__item">
              <a class="menu__item__link js-menu__item__link" href="">セットアイテム</a>
              <ul class="submenu">
                  <li class="submenu__item">
                      <a href="">すべて</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">１</a>
                  </li>
                  <li class="submenu__item">
                      <a href="">２</a>
                  </li>
              </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="sec-cmn-02">
    <h2 class="ttl-cmn-02">
      <span class="txt-en">NEW ITEM</span>
    <h2>
    <ul class="list-products-01">
      <li>
        <div class="card-product-01">
          <a class="box-link" href="">
            <figure class="box-image">
              <%= image_tag "fashion1.jpg"%>
            </figure>
            <p class="txt-name">fashion1</p>
            <p class="txt-price">10000</p>
          </a>
        </div>
      </li>
      <li>
        <div class="card-product-01">
          <a class="box-link" href="">
            <figure class="box-image">
              <%= image_tag "fashion2.jpg"%>
            </figure>
            <p class="txt-name">fashion2</p>
            <p class="txt-price">20000</p>
          </a>
        </div>
      </li>
      <li>
        <div class="card-product-01">
          <a class="box-link" href="">
            <figure class="box-image">
              <%= image_tag "fashion3.jpg"%>
            </figure>
            <p class="txt-name">fashion3</p>
            <p class="txt-price">30000</p>
          </a>
        </div>
      </li>
      <li>
        <div class="card-product-01">
          <a class="box-link" href="">
            <figure class="box-image">
              <%= image_tag "fashion4.jpg"%>
            </figure>
            <p class="txt-name">fashion4</p>
            <p class="txt-price">40000</p>
          </a>
        </div>
      </li>
      <li>
        <div class="card-product-01">
          <a class="box-link" href="">
            <figure class="box-image">
              <%= image_tag "fashion5.jpg"%>
            </figure>
            <p class="txt-name">fashion5</p>
            <p class="txt-price">50000</p>
          </a>
        </div>
      </li>
      <li>
        <div class="card-product-01">
          <a class="box-link" href="">
            <figure class="box-image">
              <%= image_tag "fashion6.jpg"%>
            </figure>
            <p class="txt-name">fashion6</p>
            <p class="txt-price">60000</p>
          </a>
        </div>
      </li>
      <li>
        <div class="card-product-01">
          <a class="box-link" href="">
            <figure class="box-image">
              <%= image_tag "fashion7.jpg"%>
            </figure>
            <p class="txt-name">fashion7</p>
            <p class="txt-price">70000</p>
          </a>
        </div>
      </li>
      <li>
        <div class="card-product-01">
          <a class="box-link" href="">
            <figure class="box-image">
              <%= image_tag "fashion8.jpg"%>
            </figure>
            <p class="txt-name">fashion8</p>
            <p class="txt-price">80000</p>
          </a>
        </div>
      </li>
      <li>
        <div class="card-product-01">
          <a class="box-link" href="">
            <figure class="box-image">
              <%= image_tag "fashion9.jpg"%>
            </figure>
            <p class="txt-name">fashion9</p>
            <p class="txt-price">90000</p>
          </a>
        </div>
      </li>
      <li>
        <div class="card-product-01">
          <a class="box-link" href="">
            <figure class="box-image">
              <%= image_tag "fashion10.jpg"%>
            </figure>
            <p class="txt-name">fashion10</p>
            <p class="txt-price">10000</p>
          </a>
        </div>
      </li>
    </ul>
    <div class="ta-center mt-20">
      <a class="btn-cmn-01" href="#">新着アイテム一覧を見る</a>
    </div>
  </div>
  <div class="sec-cmn-02">
    <h2 class="ttl-cmn-02 mb-5">
      <span class="txt-en">RANKING</span>
    <h2>
    <ul class="list-products-01">
      <li>
        <div class="card-product-01">
          <p class="txt-ranking">No.1</p>
          <a class="box-link" href="" >
            <figure class="box-image">
              <%= image_tag "fashion11.jpg"%>
            </figure>
            <p class="txt-name">fashion11</p>
            <p class="txt-price">11000</p>
          </a>
        </div>
      </li>
      <li>
        <div class="card-product-01">
          <p class="txt-ranking">No.2</p>
          <a class="box-link" href="" >
            <figure class="box-image">
              <%= image_tag "fashion12.jpg"%>
            </figure>
            <p class="txt-name">fashion12</p>
            <p class="txt-price">12000</p>
          </a>
        </div>
      </li>
      <li>
        <div class="card-product-01">
          <p class="txt-ranking">No.3</p>
          <a class="box-link" href="" >
            <figure class="box-image">
              <%= image_tag "fashion13.jpg"%>
            </figure>
            <p class="txt-name">fashion13</p>
            <p class="txt-price">13000</p>
          </a>
        </div>
      </li>
      <li>
        <div class="card-product-01">
          <p class="txt-ranking">No.4</p>
          <a class="box-link" href="" >
            <figure class="box-image">
              <%= image_tag "fashion14.jpg"%>
            </figure>
            <p class="txt-name">fashion14</p>
            <p class="txt-price">14000</p>
          </a>
        </div>
      </li>
      <li>
        <div class="card-product-01">
          <p class="txt-ranking">No.5</p>
          <a class="box-link" href="" >
            <figure class="box-image">
              <%= image_tag "fashion15.jpg"%>
            </figure>
            <p class="txt-name">fashion15</p>
            <p class="txt-price">15000</p>
          </a>
        </div>
      </li>
      <li>
        <div class="card-product-01">
          <p class="txt-ranking">No.6</p>
          <a class="box-link" href="" >
            <figure class="box-image">
              <%= image_tag "fashion16.jpg"%>
            </figure>
            <p class="txt-name">fashion16</p>
            <p class="txt-price">16000</p>
          </a>
        </div>
      </li>
      <li>
        <div class="card-product-01">
          <p class="txt-ranking">No.7</p>
          <a class="box-link" href="" >
            <figure class="box-image">
              <%= image_tag "fashion17.jpg"%>
            </figure>
            <p class="txt-name">fashion17</p>
            <p class="txt-price">17000</p>
          </a>
        </div>
      </li>
      <li>
        <div class="card-product-01">
          <p class="txt-ranking">No.8</p>
          <a class="box-link" href="" >
            <figure class="box-image">
              <%= image_tag "fashion18.jpg"%>
            </figure>
            <p class="txt-name">fashion18</p>
            <p class="txt-price">18000</p>
          </a>
        </div>
      </li>
      <li>
        <div class="card-product-01">
          <p class="txt-ranking">No.9</p>
          <a class="box-link" href="" >
            <figure class="box-image">
              <%= image_tag "fashion19.jpg"%>
            </figure>
            <p class="txt-name">fashion19</p>
            <p class="txt-price">19000</p>
          </a>
        </div>
      </li>
      <li>
        <div class="card-product-01">
          <p class="txt-ranking">No.10</p>
          <a class="box-link" href="" >
            <figure class="box-image">
              <%= image_tag "fashion20.jpg"%>
            </figure>
            <p class="txt-name">fashion20</p>
            <p class="txt-price">20000</p>
          </a>
        </div>
      </li>
    </ul>
    <div class="ta-center mt-20">
      <a class="btn-cmn-01" href="#">ランキング一覧を見る</a>
    </div>
  </div>
</div>


<%= render "shared/footer" %>