<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <div class="item-img-content">
      <%= image_tag @item.image ,class:"item-box-img" %>
    </div>
    <div class=item-txt-content>
      <h2 class="name">
        <%= @item.name %>
      </h2>
      <div class="item-price-box">
        <span class="item-price">
          <%= @item.price %>
        </span>
      </div>

      <%# 商品サイズ・カート・お気に入り %>
      <%# <div class="item-choose">
        <div class="item-img-color">
          <%= image_tag @item.image ,class:"item-color" %>
        <%# </div>
        <div class="item-type">
          <%= @item.color.name %>
          <%# <%= @item.size.name %>
        <%# </div>
        <div class="item-in-cart">
        </div>
        <div class="item-favorite">
        </div>
      </div> %>
      <%# 商品サイズ・カート・お気に入り %>
      <div class="item-explain-box">
        <span><%= @item.description %></span>
      </div>
      <table class="detail-table">
        <tbody>
          <tr>
            <th class="detail-item">カテゴリー</th>
            <td class="detail-value"><%= @item.category.name %></td>
          </tr>
        </tbody>
      </table>
      <div class="option">
        <div class="favorite-btn">
          <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
          <span>お気に入り 0</span>
        </div>
      </div>
      <% if user_signed_in? %>
      <%# <% if current_user.id == @item.user.id %> 
        <%= link_to "商品の編集", "#", method: :get, class: "item-red-btn" %>
        <p class="or-text">or</p>
        <%= link_to "削除", "#", method: :delete, class:"item-destroy" %>
      <% else %>
        <%= link_to "購入画面に進む", "#" ,class:"item-red-btn"%>
      <% end %>
      <%# <% end %> 
    </div>
  </div>
  

  <div class="item-box2">
    <%# <div class="links">
      <a href="#" class="change-item-btn">
        ＜ 前の商品
      </a>
      <a href="#" class="change-item-btn">
        後ろの商品 ＞
      </a>
    </div> %>
    <%# 詳細ページで表示されている商品のカテゴリー名を表示しましょう %>
    <a href="#" class="another-item"><%= "商品のカテゴリー名" %>をもっと見る</a>
    <%# //詳細ページで表示されている商品のカテゴリー名を表示しましょう %>
  </div>

<%= render "shared/footer" %>
